{% extends "base.html" %}

{% block title %}Commission Request Details{% endblock %}

{% block content %}
    <div class="row">
        <h2 class="align-left">Commission Request Details</h2>
        {% if is_maker %}
            <a class="btn add-btn align-right"
            href="{% url 'request_update' pk=request.pk %}">Update Request</a>
        {% endif %}
    </div>
    <hr>
    <h2>{{ request.title }}</h2>
    <h3>By {{ request.maker }}</h3>

    <table>
        <tr>
            <th>Status</th>
            
            <td>{{ summary.status }}</td>
        </tr>
        {% if request.status == 0 %}
        <tr>
            <th>Job Openings</th>
            <td>
                {{ summary.open_manpower }}
                /
                {{ summary.total_manpower }}
            </td>
        </tr>
        {% endif %}
    </table>

    <p>{{ request.description }}</p>

    <br>

    <h3>Type</h3>
    {% if request.type %}
        <h4>{{ request.type }}</h4>
        <p>{{ request.type.description }}</p>
    {% else %}
        <h4>None</h4>
    {% endif %}

    <br><hr>
    <h2>Job List</h2>
    <div class="list-wrapper">
    {% for category, queryset in jobs.items %}
        {% if queryset %}
            {% for job in queryset %}
                <div class="list-item">
                    <div>
                        <h3>{{ job.role }}</h3>
                        <p>
                            Slots - 
                            {{ job.opening_count }}
                            / 
                            {{ job.manpower_required }}
                        </p>
                        <p>{{ job.get_status }}</p>
                    </div>
                    {% if user.is_authenticated %}
                        <div class="row">
                        {% if is_maker %}
                            <div class="align-left"><table
                                style="background-color: white;">
                                <tr>
                                    <th>Pending</th>
                                    <th>Accepted</th>
                                    <th>Rejected</th>
                                </tr>
                                <tr>
                                    <td style="text-align: center;">
                                        {{ job.app_counts.pending }}
                                    </td>
                                    <td style="text-align: center;">
                                        {{ job.app_counts.accepted }}
                                    </td>
                                    <td style="text-align: center;">
                                        {{ job.app_counts.rejected }}
                                    </td>
                                </tr>
                            </table></div>
                            <a class="btn add-btn align-right"
                            href="{% url 'job_detail' pk=job.pk %}">
                                View Details
                            </a>
                        {% elif category == 'applied' %}
                            <p class="align-left">
                                <b><i><u>Applied</u></i></b>
                            </p>
                            <button disabled class="btn align-right"
                            style="background-color: #ccc; cursor: not-allowed;">
                                {{ job.user_status }}
                            </button>
                        {% elif job.status == 0 %}
                            <form method="POST" action="" class="align-right">
                                {% csrf_token %}
                                <input type="hidden" name="job_id" value="{{ job.id }}">
                                <button type="submit" class="add-btn">Apply to Job</button>
                            </form>
                        {% else %}
                            <button disabled class="btn align-right"
                            style="background-color: #ccc; cursor: not-allowed;">
                                    {{ job.get_status }}
                            </button>
                        {% endif %}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        {% endif %}
    {% endfor %}
    </div>

    <br><hr>
    <table>
        <tr>
            <th>Created On</th>
            <td>{{ request.created_on }}</td>
        </tr>
        <tr>
            <th>Updated On</th>
            <td>{{ request.updated_on }}</td>
        </tr>
    </table>

    <a href="{% url 'request_list' %}" class="btn align-right">Back</a>
{% endblock %}
