{% extends "base.html" %}

{% block title %}DIY Projects{% endblock %}

{% block content %}
    <h2>List of Projects</h2>
    <div class="list-wrapper">
    {% for project in projects %}
        <div class="list-item">
            <h3>{{ project.title }}</h3>
            <p><i>{{ project.category }}</i></p>
            <a href="{{ project.get_absolute_url }}"
            class="btn align-left">
                View Project
            </a>
        </div>
    {% empty %}
        <p>No projects available.</p>
    {% endfor %}
    </div>
{% endblock %}
