{% extends 'base.html' %}

{% block title %}Create Product{% endblock %}

{% block content %}
    <h2>Create Product</h2>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <p>
            <label>Name:</label><br>
            {{ form.name }}
        </p>
        <p>
            <label>Product Type:</label><br>
            {{ form.product_type }}
        </p>
        <p>
            <label>Image:</label><br>
            {{ form.product_image }}
        </p>
        <p>
            <label>Description:</label><br>
            {{ form.description }}
        </p>
        <p>
            <label>Price:</label><br>
            {{ form.price }}
        </p>
        <p>
            <label>Stock:</label><br>
            {{ form.stock }}
        </p>
        <p>
            <label>Status:</label><br>
            {{ form.status }}
        </p>
        <button type="submit">Create Product</button>
    </form>
    <a href="{% url 'merchstore_list' %}">Back</a>
{% endblock %}
