{% extends 'base.html' %}

{% block title %}Merch Store List{% endblock %}

{% block content %}
    <div class="row">
        <h2 class="align-left">List of Products</h2>
        <div class="div-right">
            {% if user.is_authenticated %}
                <a class="btn"
                href="{% url 'merchstore_cart' %}">
                    My Cart
                </a>
            {% endif %}
            {% if user.is_authenticated and user.profile.role == "MS" %}
                <a href="{% url 'merchstore_transactions' %}">
                    View My Sales
                </a>
                <a class="btn add-btn align-right"
                href="{% url 'merchstore_create' %}">
                Create product</a>
            {% endif %}
        </div>
    </div>
    <div class="list-wrapper">
        {% if user.is_authenticated %}
            <h3>Your Products</h3>
            {% for product in user_products %}
            <div class="list-item">
                <h3>{{ product.name }}</h3>
                <p>Price: <i>{{ product.price }}</i></p>
                <a href="{{ product.get_absolute_url }}"
                class="btn align-left">
                    View Product
                </a>
            </div>
            {% empty %}
                <p>You are not selling your products.</p>
            {% endfor %}
        {% endif %}
        <h3>All Products</h3>
        {% for product in all_products %}
            <div class="list-item">
                <h3>{{ product.name }}</h3>
                <p>Price: <i>{{ product.price }}</i></p>
                <a href="{{ product.get_absolute_url }}"
                class="btn align-left">
                    View Product
                </a>
            </div>
        {% empty %}
            <p>No products available.</p>
        {% endfor %}
    </div>
{% endblock %}
