{% extends 'base.html' %}

{% block title %}Transactions List{% endblock %}

{% block content %}
    <div class ="row">
        <h2 class="align-left">Your Sales</h2>
    </div>

    {% if transactions %}
        {% regroup transactions by buyer as buyer_list %}

        {% for group in buyer_list %}
            <div class="row">
                <h3 class="align-left">Buyer: {{ group.grouper.display_name }}</h3>
            </div>
            <div class="list-wrapper">
                {% for transaction in group.list %}
                <div class="list-item">
                    <h3>{{ transaction.product.name }}</h3>
                    <p><i>Amount: {{ transaction.amount }}</i></p> 
                    <p>Status: {{ transaction.get_status_display }} </p>
                    <p>Created on: {{ transaction.created_on }}</p>
                </div>
                {% endfor %}
            </div>
        {% endfor %}
    {% else  %}
        <p>No transactions found.</p>
    {% endif %}
    <a href="{% url 'merchstore_list' %}" class="btn align-right">Back</a>
{% endblock %}